@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1> Ветеринарная клиника "Пушистик"</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2> Добро пожаловать в ветеринарную клинику "Пушистик"</h2>
        <p>
            В нашей круглосуточной ветеринарной клинике работают профессионалы с глубокими знаниями и обширным опытом.
            Мы готовы оказать вашему питомцу высококвалифицированную ветеринарную помощь по любому вопросу:
            от диагностики и планового обследования до сложных операций и консультаций узких специалистов.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Услуги ветеринарной клиники</h2>
        <p>Мы предоставляем своим клиентам весь спектр услуг ветеринара. Наши врачи тщательно соблюдают стандарты цивилизованной ветеринарии,
            строго следуют регламентам и в любой ситуации ставят интересы пациента на первое место. 
            Наш выбор — современная доказательная медицина, основанная на научном знании.</p>
        <p><a class="btn btn-default" href="https://vet.city/30-reasons/">30 причин для визита к врачу &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Обследование и лечение любых заболеваний глаз у животных.</h2>
        <p>Животным тоже нужно проверять зрение и ходить на осмотры для лечения и профилактики глазных болезней. Так вы и ваш друг заранее избавитесь от мелких неприятностей, которые могут стать большой проблемой.</p>
        <p><a class="btn btn-default" href="https://vet.city/services/ophthalmology/">Записаться на приём &raquo;</a></p>
    </div>
</div>
